.criminal {
    display: flex;
    border: 1px black dotted;
    margin: 5px;
    flex-flow: column;
    padding: 5px;
    flex-basis: 15%;
    /* width: 300px; */
    height: 325px;
    overflow: auto;
}
.criminalsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-x: auto;
    /* width: 300px; */
}